/*html{
	scroll-behavior: smooth;
}*/


body{
line-height: 30px;
margin: 0px;	
padding: 0px
width:1200px;	
}
header{
	background-color: black;
	height: 100px;


}
ul li{
	float: right;
	display: inline-block;
	list-style: none;


}
ul li a{
	padding: 5px 20px;
	text-decoration: none;
	color: #fff;

}
.main-container{
	font-family: 'opensans-regular',sans-serif;
	min-height: 300px;
	text-align: center;
	color: white;
	padding-top: 150px;
	background-color:black; 
}
.contain{
	background-color:;
	margin-bottom: 100px;
}

}
.about{
	/*margin: 0 auto;*/
	background-color: pink;
	/*height: 300px;*/
}
.about h2 {
	text-align: center;
}
.about h3{
	text-align: center;
}
.about p{
	text-align: center;
}
.main-container h1{
background: black;
	width: 400px;
	border: 15px solid red;
	padding: 50px;
	margin: 20px;
	margin:0 auto;

}
.main-container p{
font-size:40px;
margin-top: 

}




































/*.top-part a{
	color: orange;
}
.top-part hr{
	width: 600px;
}
.navigation-bar ul li a{
	text-decoration: none;
}
.nav ul{
	float: right;
	list-style-type: none;
	margin: 40px;
}
.nav ul li a{
	padding:8px 25px;
	color: red;
	font-size: 20px;
	text-decoration: none;
}
.conntent{
	padding-top: 100px;
	padding-bottom: 100px;
	color: black;
	text-align: center;
	font-size: 20px;
	width: 60%;
	margin: 0 auto;
}
.about{
	background-color: #3c3c3c;
}

.container{
	text-align: center;
	color: green;
	padding-top: 200px;
	width: 60%;
	margin: 0 auto;
	background-color: #f0f0f0;
	

}*/